.card_content3 {
    padding: 20px;
    margin: 30px;
    width:800px;
    height: 100px;
    text-decoration: none;
    
    background: linear-gradient(to bottom left, #d67e7e 40%, #c02c2c 100%);
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    box-shadow: 5px 10px 20px rgb(0 0 0) inset;
}





.IRAwarning h1{
 font-size: 20;
 color: #c02c2c;
}